{% extends "AppCategorias/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'AppCategorias/assets/matrixcerosyunos.webp' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">SECCIÓN DE BUSQUEDA DE NOTICIAS</h1>
            </div>
            <h4>Estamos buscando papers y libros con la tag: <u>{{tag1}}</u></h4>
           {% if papersRes %} 
           </ul>
           {% for paper in papersRes %}
           <li> {{paper.titulo}} </li>
           <a href="{{paper.url}}"> {{paper.url}}</a>
           {% endfor %}
           <br>
            <br>
           {% endif %} 
           
    </div>
    <!-- Call to Action-->
    <a class="btn btn-primary" href="{% url 'Papers Lista' %}"> REGRESAR A LA LISTA</a>
    <br>
    <br>
</div>
</div>
{% endblock %}