{% extends "AppCategorias/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div align="center" class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'AppCategorias/assets/MARIAVATAR2.jpg' %}" width="300" height="300" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">ACERCA DE MÍ</u></h1>
                    <p><h5> Mi nombre es Mariana Lobos, soy de Mendoza, Argentina. Soy madre de Vicente y Pedro y recientemente me recibí de socióloga.<br>
                         Este es mi primer proyecto realizado con Django y constituye el proyecto final del curso de Python de CoderHouse.</h5></p>
                    </div>
            </div>
{% endblock %}